* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #e6eaef;
}

.header {
  display: flex;
  align-items: center;
}
.main-name {
  color: #003d66;
  font-size: 50px;
}

#info {
  background-color: #003d66;
  color: #e6eaef;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

#log {
  background-color: #003d66;
  border: 50px, solid;
  border-color: pink;
  width: 50%;
  margin: auto;
  padding: 10px;
  color: #e6eaef;
  text-align: center;
}

form {
  margin: 10px;
}

#user {
  margin-bottom: 20px;
}

#pass {
  border: #003d66;
}

#desc {
  padding: 20px;
}

p > button {
  margin: 20px;
  display: flex;
}

#h2abt {
  text-align: center;
}

a {
  text-decoration: none;
  color: #003d66;
}
